.content-holder {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.tabs {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 50%;
}

.bar {
  padding: 10px;
  height: 60px;
  width: 80%;
  align-self: flex-end;
  margin-bottom: 7%;
}

.about-bar {
  background-color: green;
}

.experience-bar {
  background-color: yellow;
}
.projects-bar {
  background-color: lightblue;
}

.resume-bar {
  background-color: orange;
}

.contact-bar {
  background-color: white;
}

.info-holder {
  margin-right: auto;
  margin-left: 1%;
  height: 100%;
  width: 100%;
}

.fadeOut {
  background-color: yellow;
  opacity: 0;
  width: 0;
  height: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
.fadeIn {
  background-color: green;
  opacity: 1;
  width: 70%;
  height: 100px;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}
