.experience {
  font-family: var(--ff-text);
  font-size: 1.5rem;
}
.experience > h1 {
  font-family: var(--ff-cursive);
  font-size: 4.3rem;
}

.exp-holder > h2 {
  font-size: 2rem;
  line-height: 1;
  margin: 0;
}

.exp-holder > hr {
  margin: 0;
}
.exp-holder > p {
  margin: 3px;
  
}
