.info {
  display: block;
  padding: 2%;
  background-color: black; /*#282d2d;/*rgb(245, 245, 220);*/
  /*border-radius: 25px;*/
  overflow-y: auto;
  border-style: solid;
  border-width: thin;
  border-color: white;
  height: 600px;
}

.info > h1 {
  color: white;
  font-family: var(--ff-text);
  font-size: 1.5rem;
}

.info > h2,
p {
  color: white;
}
